html {     
  box-sizing: border-box; 
} 

*, *:before, *:after {     
  box-sizing: inherit; 
}

body {
  background-color: white;
  font-family: Verdana, Arial, sans-serif;
  margin-left: 25%;
  margin-right: 25%;
}

li {
  display: inline; 
}

/*-- link --*/
a:link {
  text-decoration: none;
  color: black;
}

/*-- link hovered --*/
a:hover {
    background-color: blue;
    color: white;
}

/*-- sections header --*/
.section-header {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
}

/*-- img in sections --*/
.img-sec {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/*-- navigation class --*/
.nav-bar {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  word-spacing: 1em;
}

/*-- intro seciton --*/
.intro {
  display: -webkit-flex;
  display: -ms-flex;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.intro-header {
  -webkit-flex: 2 0 0; 
  flex: 2 0 0;
  align-items: center;
  justify-content: center;
}

.intro-contact {
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  padding: 15px;
}

.contact-box {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.submit-box {
  background-color: #73e600;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.text-right {
  text-align: right;
}

.submit-text {
  font-size: 75%;
  text-align: justify;
  text-justify: inter-word;
  text-align: center;
}

.intro-text {
  text-align: center;
}

/*-- team section --*/
.img-sec {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/*-- open source section --*/
.open-logo {
  display: block;
  margin: auto;
}

.open-border {
  display: -webkit-flex;
  display: -ms-flex;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-bottom: 2px solid lightgrey;
}

.open-part {
  display: block;
  margin: auto;
  float: right;
}

/*-- comm section --*/
.comm-logo {
  display: block;
  margin: auto;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}

/*-- sum up page --*/
.address {
  font-style: normal;
}

.sum-contact{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.sum-main-box {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sum-green {
  color: #73e600;
  font-size: 150%;
  font-weight: normal;
}


/*-- id --*/
#logo { float: left; }

