html {     
  box-sizing: border-box; 
} 

*, *:before, *:after {     
  box-sizing: inherit; 
}

body {
  background-color: white;
  margin-left: 80px;
  margin-right: 80px; 
}

#logo { float: left; }

