html {     
  box-sizing: border-box; 
} 

*, *:before, *:after {     
  box-sizing: inherit; 
}

body {
  background-color: white;
  font-family: Verdana, Arial, sans-serif;
  margin-left: 25%;
  margin-right: 25%;
}

li {
  display: inline; 
}

/*-- link --*/
a:link {
  text-decoration: none;
  color: black;
}

/*-- link hovered --*/
a:hover {
    background-color: blue;
    color: white;
}

/*-- sections header --*/
body > section > header {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  margin: auto;
  padding-top: 60px;
}

/*-- img in sections --*/
.img-sec {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/*-- navigation class --*/
.nav-bar {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  word-spacing: 1em;
}

/*-- intro seciton --*/
#intro {
  display: -webkit-flex;
  display: -ms-flex;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

#intro > header {
  -webkit-flex: 2 0 0; 
  flex: 2 0 0;
  align-items: center;
  justify-content: center;
}

#intro > section {
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  padding: 15px;
  padding-bottom: 30px;
}

#intro > section > aside {
  text-align: right;
}

#intro > section > footer {
  font-size: 70%;
  text-align: justify;
  text-justify: inter-word;
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.contact-box {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 200px; 
  height: 25px;
}

.submit-box {
  background-color: #73e600;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 200px; 
  height: 25px;
}

.text-right {
  text-align: right;
}



.intro-text {
  text-align: center;
}

/*-- team section --*/

#team ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

#team ul li {
  display: inline-block;
}


/*-- open source section --*/
.open-logo {
  display: block;
  margin: auto;
}

.open-border {
  display: -webkit-flex;
  display: -ms-flex;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-bottom: 2px solid lightgrey;
}

.open-part {
  display: block;
  margin: auto;
  float: right;
}

/*-- comm section --*/
.comm-logo {
  display: block;
  margin: auto;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}

/*-- sum up page --*/
.address {
  font-style: normal;
}

.sum-contact{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 150px; 
  height: 25px;
}

.sum-main-box {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sum-green {
  color: #73e600;
  font-size: 150%;
  font-weight: normal;
}

/*-- footer --*/
.footer {
  background-color: blue;
  color: white;
  text-align: center;
  font-size: 75%;
}

/*-- id --*/
#logo { float: left; }

