html {     
  box-sizing: border-box; 
} 

*, *:before, *:after {     
  box-sizing: inherit; 
}

body {
  background-color: white;
  margin-left: 25%;
  margin-right: 25%; 
}

li {
  display: inline; 
}

/*-- link --*/
a:link {
  text-decoration: none;
  color: black;
}

/*-- link hovered --*/
a:hover {
    background-color: blue;
    color: white;
}

/*-- navigation class --*/
.nav-bar {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  word-spacing: 1em;
}

/*-- intro seciton --*/
.intro {
  display: -webkit-flex;
  display: -ms-flex;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.intro-header {
   -webkit-flex: 2 0 0; 
   flex: 2 0 0;
  align-items: center;
  justify-content: center;
}

.intro-contact {
   -webkit-flex: 1 0 0;
   flex: 1 0 0;
  padding: 15px;
}

.contact-box {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.submit-box {
  background-color: #73e600;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

/*-- id --*/
#logo { float: left; }

